[submodule "CarlosMChica"]
	path = CarlosMChica
	url = https://github.com/CarlosMChica/HaskellBook
[submodule "PaNaVTEC"]
	path = PaNaVTEC
	url = https://github.com/PaNaVTEC/haskellbook.git
[submodule "MattJOlson"]
	path = MattJOlson
	url = https://github.com/MattJOlson/Haskellbook.git
[submodule "mukeshsoni"]
	path = mukeshsoni
	url = https://github.com/mukeshsoni/haskell-programming-book.git
[submodule "dmvianna"]
	path = dmvianna
	url = https://github.com/dmvianna/haskellbook.git
[submodule "abevoelker"]
	path = abevoelker
	url = https://github.com/abevoelker/haskellbook-solutions.git
[submodule "ArulselvanMadhavan"]
	path = ArulselvanMadhavan
	url = https://github.com/ArulselvanMadhavan/haskell-first-principles.git
[submodule "abinr"]
	path = abinr
	url = https://github.com/abinr/hbook.git
[submodule "galderz"]
	path = galderz
	url = https://github.com/galderz/haskell-sandbox.git
[submodule "radusw"]
	path = radusw
	url = https://github.com/radusw/hpffp.git
[submodule "OCExercise"]
	path = OCExercise
	url = https://github.com/OCExercise/haskellbook-solutions.git
[submodule "Nenlantea"]
	path = Nenlantea
	url = https://github.com/Nenlantea/LetiLearningHaskell.git
[submodule "gvolpe"]
	path = gvolpe
	url = https://github.com/gvolpe/haskell-book-exercises.git
[submodule "jasonkuhrt"]
	path = jasonkuhrt
	url = https://github.com/jasonkuhrt/hpfp-answers.git
[submodule "nettok"]
	path = nettok
	url = https://github.com/nettok/haskellbook-exercises.git
[submodule "evturn"]
	path = evturn
	url = https://github.com/evturn/haskellbook
[submodule "thewoolleyman"]
	path = thewoolleyman
	url = https://github.com/thewoolleyman/haskellbook.git
[submodule "larrybotha"]
	path = larrybotha
	url = https://github.com/larrybotha/haskell-book.git
[submodule "johnchandlerburnham"]
	path = johnchandlerburnham
	url = https://github.com/johnchandlerburnham/haskellbook.git
[submodule "andrewMacmurray"]
	path = andrewMacmurray
	url = https://github.com/andrewMacmurray/haskell-book-solutions.git
[submodule "Tclv"]
	path = Tclv
	url = https://github.com/Tclv/HaskellBook.git
[submodule "txels"]
	path = txels
	url = https://github.com/txels/haskellbook.git
[submodule "dwayne"]
	path = dwayne
	url = https://github.com/dwayne/haskell-programming.git
[submodule "yamad"]
	path = yamad
	url = https://github.com/yamad/haskellbook-hpfp.git
[submodule "prikhi"]
	path = prikhi
	url = https://github.com/prikhi/haskell-book.git
[submodule "willprice"]
	path = willprice
	url = https://github.com/willprice/haskell-book.git
[submodule "scarvalhojr"]
	path = scarvalhojr
	url = https://github.com/scarvalhojr/haskellbook
